div.logo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ion-img.logo {
  width: 100px;
}

ion-text.version {
  margin: 0;
  color: var(--ion-color-medium);
}

ion-item.rounded {
  --border-radius: 15px;
}

div.divider {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
